div{
    height: 200px;
    width: 200px;
    color:white;
    font-size: 80px;
    display: inline-block;
    background-color: black;
}

.none{
    display:none;
}

.hidden{
    visibility:hidden;
}