.inline-block{
    display: inline-block;
    width:200px;
    height: 300px;
    color:blue;
    background-color: yellow;
}

.menu{
    color:yellow;
    background-color: blue;
}

.menu ul li{
    
    display: inline-block;
    padding: 20px;
    font-size: 48px;
    text-transform: uppercase;
}

.menu ul li a{
    text-decoration: none;
}

.menu ul li:hover{
    color:blue;
    background-color: yellow;
} 