@media print {
    body{
        background-color: black;
        color:white;
    }
}

@media screen and (min-width: 600px){
    body{
        color:red;
    }
}

@media screen and (max-width: 800px){
    body{
        color:blue;
    }
}

@media screen and (orientation: landscape){
    body{
        color: orange;
    }
}

@media (pointer: fine){
    body{
        background-color: green;
    }
}

@media (pointer: coarse){
    body{
        color: darkviolet;
        font-size: 32px;
    }
}

img{
    display: block;
    max-width:100%;
}