div{
    background:cyan;
    width: 200px;
    height: 80px;
    justify-content: center;
    text-align: center;
    border: 1px solid #010;
}

div.max{
    background-color: blue;
    color: red;
    max-width: 300px;
    min-height: 90px;
    justify-content: center;s
    text-align: center;
    border: 1px dotted #025;
}